.c1{
	margin-left: 100px;
	font-size: 500%;
}
.c2{
	margin-left: 20px;
	font-size: 150%;
}
.c3{
	margin-left: 200px;
	font-size: 200%;
	color: #5c072a;
}
.c4{
	margin-left: 20px;
	font-size: 400%;
}
.c5{
	margin-left: 20px;
	font-size: 250%;
}
.c6{
	margin-left: 20px;
	font-size: 150%;
}
.c7{
	font-size: 150%;

}
.c8{
	margin-left: 800px;
}
.c9{
	 letter-spacing: 0.1em;
    background: #92d9d9;
}